html * {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

.column{
    width: 50%;
    padding: 5px;
    overflow: hidden;
    background-color: bisque;
}
.t1 a{
    color: #000;
    padding-left: .5rem;
    float: left;
    text-decoration: none;
}
.t2 a{
    float: right;
    padding-left: .5rem;
    color: black;
}
.intro{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: rgb(245, 236, 186);
    }
.flex-left{
   text-align: center;
    width:50%;
    margin: 5px;
    padding: 5px;
}
.flex-right{
    width: 60%;
    margin: 5px;
    padding: 5px;
}
.flex-right img{
    height: 100%;
    width: 100%;
}
@media screen and (max-width: 600px) {
    .intro{   
      flex-direction: column;
  
    }
    .flex-right, .flex-left{
        width: auto;
    }
  }
    .snippet{
      display: flex;
      flex-direction: row;
      }
  .snippet-left{
      width:40%;
      margin: 5px;
      padding: 5px;
  }
  .snippet-right{
      width: 50%;
      margin: 5px;
      padding: 5px;
  }
  .snippet-right img{
      height: 100%;
      width: 100%;
  }
    
/* cards */
.service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 4.2rem;
    padding: 4rem;
  }
  
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 300px;
            flex: 0 0 300px;
    max-width: 450px;
    overflow: hidden;
    background: #ffffff;
    color: #000000;
    border-radius: 5px;
    -webkit-box-shadow: 3px 2px 14px rgba(10, 10, 10, 0.596);
            box-shadow: 3px 2px 14px rgba(10, 10, 10, 0.596);
    text-decoration: none;
    font-size: 1rem;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  
  .card:hover {
    -webkit-transform: perspective(250px) translateZ(30px);
            transform: perspective(250px) translateZ(30px);
    -webkit-box-shadow: 2px 3px 18px rgba(107, 228, 8, 0.548);
            box-shadow: 2px 3px 18px rgba(107, 228, 8, 0.548);
  }
  
  .card__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 250px;
            flex: 1 0 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .card__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    padding: 1rem;
  }
  
  .card__title {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  .card__readmore {
    margin-top: auto;
    text-transform: uppercase;
    font-weight: 700;
  }
  
/* ending of cards */
.r1 {  
    display: flex;
   padding: 10px;
    flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      margin:auto;
  }
  .side {
    flex:20%;
    padding: 4px;
    overflow-x: hidden;
  }
  .main1 {
    flex:40%;
    background-color: rgba(245, 235, 235, 0.632);
    padding: 5px;
    overflow-x: hidden;
    border-radius: 50px;
  }
  .main1 form label{
    position: relative;
  }
  @media screen and (max-width: 600px) {
    .r1, .main1 {   
      flex-direction: column;
  
      
    }
  }

/* about us page */
.com{
    margin:50px;
    width:70%;
    text-align:center;
    padding-left:25%;
}
/* .dropdown{
    left:40%;
} */
.mainprop{
    margin:10px;
    padding:10px;
    background:rgb(230, 223, 223);
  }
  .property-section{
      text-align: center;
      margin: 8px auto;
      padding: 5px;
      background:rgb(200, 207, 221) ;
  }
  .tt{
    padding: 5px;
  }
  h1{
    color:rgb(223, 83, 83);
  }

  .container{
    width: 100%;
    margin: 50px auto;
  }
  .heading{
    text-align: center;
    font-size: 30px;
    margin-bottom:50px ;
  }
  .r5{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
  }
  .cards{
    width: 24%;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 40px;
    transition: 0.2s;
  }
  .cards-header{
    text-align: center;
    text-transform: uppercase;
    padding: 50px 10px;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    color: #fff;
  }
  .cards-body{
    padding: 20px 16px;
    text-align: center;
    font-size: 18px;
  }
  .cards-body .btn{
  display: block;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
  }
  .cards:hover{
    transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }
  @media screen and  (max-width:1000px) {
    .cards{
      width: 40%;
    }
  }
  @media screen and  (max-width:620px) {
    .container{
      width: 100%;
    }
    .heading{
      padding: 20px;
      font-size: 20px;
    }
    .cards{
      width: 80%;
    }
  }


  
